/**
 * Styles for the add-observation.html page 
 */

* {
     max-width: 780px;
 }

.required{
    color: red;
}

input{
    width: 505px;
}

#species-date{
    width: auto;
}
#submit{
    width: auto;
}
